{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block container %}
    <h1>Panier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPanier</th>
                <th>Total</th>
                <th>QuantitePanier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.idPanier }}</td>
                <td>{{ panier.total }}</td>
                <td>{{ panier.quantitePanier }}</td>
                <td>
                    <a href="{{ path('app_panier_show', {'idPanier': panier.idPanier}) }}">show</a>
                    <a href="{{ path('app_panier_edit', {'idPanier': panier.idPanier}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_panier_new') }}">Create new</a>
{% endblock %}
