{% extends 'base.html.twig' %}

{% block title %}Panier index
{% endblock %}

{% block container %}
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">


	<table class="table">
		<thead>
			<tr>
				<th>Total</th>
				<th>QuantitePanier</th>
				<th>Product</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>

			<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

			{% for message in app.flashes('mercuryseries_flashy_notification') %}
				<div class="flashy flashy--success">
					{{ message }}
				</div>
			{% endfor %}

			{{ include('@MercurySeriesFlashy/flashy.html.twig') }}


			{% for panier in paniers %}
				<tr>
					<td>{{ panier.total }}</td>
					<td>{{ panier.quantitePanier }}</td>
					<td>
						{% if panier.produit %}
							<img src="{{ asset('uploads/images/' ~ panier.produit.image) }}" alt="{{ panier.produit.nomProd }}" style="max-width: 100px;">
							{{ panier.produit.nomProd }}
						{% else %}
							Aucun produit
						{% endif %}

					</td>
					<td>
						<a href="{{ path('app_panier_show', {'idPanier': panier.idPanier}) }}">show</a>
						<a href="{{ path('app_panier_edit', {'idPanier': panier.idPanier}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_panier_new') }}">Create new</a>
{% endblock %}
{% block explore %}{% endblock %}
{% block card %}{% endblock %}
