{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProd</th>
                <td>{{ produit.idProd }}</td>
            </tr>
            <tr>
                <th>NomProd</th>
                <td>{{ produit.nomProd }}</td>
            </tr>
            <tr>
                <th>PrixProd</th>
                <td>{{ produit.prixProd }}</td>
            </tr>
            <tr>
                <th>DescriptionProd</th>
                <td>{{ produit.descriptionProd }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produit.quantite }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ produit.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'idProd': produit.idProd}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
