{% extends 'utilisateur/base.html.twig' %}

<<<<<<< HEAD
{% block title %}Edit Evenement
{% endblock %}

{% block container %}
	<h1>Edit Evenement</h1>

	{{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_evenement_index') }}">back to list</a>

	{{ include('evenement/_delete_form.html.twig') }}
=======
{% block title %}Edit Evenement{% endblock %}

{% block container %}
    <h1>Edit Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    {{ include('evenement/_delete_form.html.twig') }}
>>>>>>> be0a76ce18ff825bbc206e1ecc7ca0e29540d9b7
{% endblock %}
