{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
	<h1>Evenement index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>IdEvent</th>
				<th>NomEvent</th>
				<th>Descript</th>
				<th>DateEvent</th>
				<th>HeureEvent</th>
				<th>LieuEvent</th>
				<th>NbParticipants</th>
				<th>Image</th>
				<th>Organisateur</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for evenement in evenements %}
				<tr>
					<td>{{ evenement.idEvent }}</td>
					<td>{{ evenement.nomEvent }}</td>
					<td>{{ evenement.descript }}</td>
					<td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ evenement.heureEvent }}</td>
					<td>{{ evenement.lieuEvent }}</td>
					<td>{{ evenement.nbParticipants }}</td>
					<td>{{ evenement.image }}</td>
					<td>{{ evenement.organisateur }}</td>
					<td>
						<a href="{{ path('app_evenement_show', {'idEvent': evenement.idEvent}) }}">show</a>
						<a href="{{ path('app_evenement_edit', {'idEvent': evenement.idEvent}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
