{% extends 'base.html.twig' %}

{% block title %}Evenement
{% endblock %}

<<<<<<< HEAD
{% block body %}
	<h1>Evenement</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>IdEvent</th>
				<td>{{ evenement.idEvent }}</td>
			</tr>
			<tr>
				<th>NomEvent</th>
				<td>{{ evenement.nomEvent }}</td>
			</tr>
			<tr>
				<th>Descript</th>
				<td>{{ evenement.descript }}</td>
			</tr>
			<tr>
				<th>DateEvent</th>
				<td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>HeureEvent</th>
				<td>{{ evenement.heureEvent }}</td>
			</tr>
			<tr>
				<th>LieuEvent</th>
				<td>{{ evenement.lieuEvent }}</td>
			</tr>
			<tr>
				<th>NbParticipants</th>
				<td>{{ evenement.nbParticipants }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{ evenement.image }}</td>
			</tr>
			<tr>
				<th>Organisateur</th>
				<td>{{ evenement.organisateur }}</td>
			</tr>
		</tbody>
	</table>
=======
{% block container %}
    <h2>Evenement</h2>

    <table class="table">
        <tbody>
           
            <tr>
                <th>NomEvent</th>
                <td>{{ evenement.nomEvent }}</td>
            </tr>
            <tr>
                <th>Descript</th>
                <td>{{ evenement.descript }}</td>
            </tr>
            <tr>
                <th>DateEvent</th>
                <td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HeureEvent</th>
                <td>{{ evenement.heureEvent }}</td>
            </tr>
            <tr>
                <th>LieuEvent</th>
                <td>{{ evenement.lieuEvent }}</td>
            </tr>
            <tr>
                <th>NbParticipants</th>
                <td>{{ evenement.nbParticipants }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                {% if evenement.image %}
                <img src="{{ asset('uploads/images/' ~ evenement.image) }}" alt="event image" style="width: 180px; height: auto;">
                {% else %}
                No Image Available 
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Organisateur</th>
                <td>{{ evenement.organisateur }}</td>
            </tr>
        </tbody>
    </table>
>>>>>>> be0a76ce18ff825bbc206e1ecc7ca0e29540d9b7

	<a href="{{ path('app_evenement_index') }}">back to list</a>

	<a href="{{ path('app_evenement_edit', {'idEvent': evenement.idEvent}) }}">edit</a>

	{{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
