<!DOCTYPE html>
<!--
Template Name: Tinker - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html
	lang="en" class="light">
	<!-- BEGIN: Head -->
	<head>
		<meta charset="utf-8">
		{% block head %}
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		{% endblock %}
		<link href="{{asset('assetsAdmin/dist/images/logo.png')}}" rel="shortcut icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Tinker admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
		<meta name="keywords" content="admin template, Tinker Admin Template, dashboard template, flat admin template, responsive admin template, web app">
		<meta name="author" content="LEFT4CODE">
		<title>Dashboard - XperienceZone</title>
		<!-- BEGIN: CSS Assets-->
		<link
		rel="stylesheet" href="{{asset('assetsAdmin/dist/css/app.css')}}"/>
	<!-- END: CSS Assets-->
	</head>
	<!-- END: Head -->

	<body class="py-5 md:py-0 bg-black/[0.15] dark:bg-transparent">


		<div
			class="flex mt-[4.7rem] md:mt-0 overflow-hidden">
			<!-- BEGIN: Side Menu -->
			<nav class="side-nav">
				<a href="" class="intro-x fflex items-center pl-5 pt-4 mt-3">
					<img alt="Midone - HTML Admin Template" class="w-6" src="{{asset('assetsAdmin/dist/images/logo.png')}}">
					<span class="hidden xl:block text-white text-lg ml-3">
						XperienceZone
					</span>
				</a>
				<div class="side-nav__devider my-6"></div>
				<ul>
					<li>
						<a href="{{path('app_utilisateur_index')}}" class="side-menu side-menu--active">
							<div class="side-menu__icon">
								<i data-lucide="home"></i>
							</div>
							<div class="side-menu__title">
								Dashboard

							</div>
						</a>

					</li>

					<li>
						<a href="{{path('produitback_index')}}" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="inbox"></i>
							</div>
							<div class="side-menu__title">
								Products
							</div>
						</a>
					</li>
					<li>
						<a href="{{path('activitesback_index')}}" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="hard-drive"></i>
							</div>
							<div class="side-menu__title">
								Activities
							</div>
						</a>
					</li>
					<li>
						<a href="{{path('app_evenement_indexback')}}" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="credit-card"></i>
							</div>
							<div class="side-menu__title">
								Events
							</div>
						</a>
					</li>
					<li>
						<a href="{{path('app_channels_index')}}" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="message-square"></i>
							</div>
							<div class="side-menu__title">
								Chat
							</div>
						</a>
					</li>
					<li>
						<a href="{{path('app_reclamations_index')}}" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="file-text"></i>
							</div>
							<div class="side-menu__title">
								Reclamation
							</div>
						</a>
					</li>

					<li class="side-nav__devider my-6"></li>

				</ul>

			</nav>
			<!-- END: Side Menu -->
			<!-- BEGIN: Content -->
			<div
				class="content">
				<!-- BEGIN: Top Bar -->
				<div
					class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
					<!-- BEGIN: Breadcrumb -->
					<nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex"></nav>
					<!-- END: Breadcrumb -->

					<!-- BEGIN: Notifications -->
					<div class="intro-x dropdown mr-auto sm:mr-6">
						<div class="dropdown-toggle notification notification--bullet cursor-pointer" role="button" aria-expanded="false" data-tw-toggle="dropdown">
							<i data-lucide="bell" class="notification__icon dark:text-slate-500"></i>
						</div>
						<div class="notification-content pt-2 dropdown-menu">
							<div class="notification-content__box dropdown-content">
								<div class="notification-content__title">Messages</div>
								<div class="cursor-pointer relative flex items-center ">
									<div class="w-12 h-12 flex-none image-fit mr-1">
										<img alt="Midone - HTML Admin Template" class="rounded-full" src="dist/images/profile-2.jpg">
										<div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
									</div>
									<div class="ml-2 overflow-hidden">
										<div class="flex items-center">
											{% if app.user !=null%}
												<a href="javascript:;" class="font-medium truncate mr-5">{{app.user.username}}</a>
											{% endif %}
											<div id="currentTime" class="text-xs text-slate-400 ml-auto whitespace-nowrap"></div>
										</div>
										<div class="w-full truncate text-slate-500 mt-0.5">Welcome Home !!
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
					<!-- END: Notifications -->
					<!-- BEGIN: Account Menu -->
					<div class="intro-x dropdown w-8 h-8">
						<div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in" role="button" aria-expanded="false" data-tw-toggle="dropdown">
							<img src="dist/images/profile-5.jpg">
						</div>
						<div class="dropdown-menu w-56">
							{%if app.user !=null%}
								<ul class="dropdown-content bg-primary text-white">
									<li class="p-2">

										<div class="font-medium">{{app.user.username}}</div>

									</li>
									<li>
										<hr class="dropdown-divider border-white/[0.08]">
									</li>
									<li>
										<a href="{{ path('app_ProfileAdmin', {'idUser': app.user.idUser}) }}" class="dropdown-item hover:bg-white/5">
											<i data-lucide="user" class="w-4 h-4 mr-2"></i>
											Profile
										</a>
									</li>
									<li>
										<a href="{{ path('app_utilisateur_new') }}" class="dropdown-item hover:bg-white/5">
											<i data-lucide="edit" class="w-4 h-4 mr-2"></i>
											Add Account
										</a>
									</li>
									<li>
										<a href="https://www.facebook.com/profile.php?id=61553926414737&is_tour_dismissed=true" class="dropdown-item hover:bg-white/5">
											<i data-lucide="help-circle" class="w-4 h-4 mr-2"></i>
											Facebook Page
										</a>
									</li>
									<li>
										<hr class="dropdown-divider border-white/[0.08]">
									</li>
									<li>
										<a href="{{path('app_logout')}}" class="dropdown-item hover:bg-white/5">
											<i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i>
											Logout
										</a>
									</li>
								</ul>
								{%endif%}
							</div>
						</div>
						<!-- END: Account Menu -->
					</div>
					<!-- END: Top Bar -->
					<div class="relative">
						{% block container%}
							<div class="grid grid-cols-12 gap-6">
								<div class="col-span-12 xl:col-span-9 2xl:col-span-9 z-10">
									<div class="mt-6 -mb-6 intro-y">
										<div class="alert alert-dismissible show box bg-primary text-white flex items-center mb-6" role="alert">
											<span>
												Introducing new dashboard! Download now at
												<a href="https://themeforest.net/item/midone-jquery-tailwindcss-html-admin-template/26366820" class="underline ml-1" target="blank">themeforest.net</a>.
												<button class="rounded-md bg-white bg-opacity-20 dark:bg-darkmode-300 hover:bg-opacity-30 py-0.5 px-2 -my-3 ml-2">Live Preview</button>
											</span>
											<button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close">
												<i data-lucide="x" class="w-4 h-4"></i>
											</button>
										</div>
									</div>
									<div class="mt-14 mb-3 grid grid-cols-12 sm:gap-10 intro-y">
										<div class="col-span-12 sm:col-span-6 md:col-span-4 py-6 sm:pl-5 md:pl-0 lg:pl-5 relative text-center sm:text-left">
											<div class="absolute pt-0.5 2xl:pt-0 mt-5 2xl:mt-6 top-0 right-0 dropdown">
												<a class="dropdown-toggle block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown">
													<i data-lucide="more-vertical" class="w-5 h-5 text-slate-500"></i>
												</a>
												<div class="dropdown-menu w-40">
													<ul class="dropdown-content">
														<li>
															<a href="" class="dropdown-item">
																<i data-lucide="file-text" class="w-4 h-4 mr-2"></i>
																Monthly Report
															</a>
														</li>
														<li>
															<a href="" class="dropdown-item">
																<i data-lucide="file-text" class="w-4 h-4 mr-2"></i>
																Annual Report
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="text-sm 2xl:text-base font-medium -mb-1">
												Hi Angelina,
												<span class="text-slate-600 dark:text-slate-300 font-normal">welcome back!</span>
											</div>
											<div class="text-base 2xl:text-lg justify-center sm:justify-start flex items-center text-slate-600 dark:text-slate-300 leading-3 mt-14 2xl:mt-24">
												My Total Assets
												<i data-lucide="alert-circle" class="tooltip w-5 h-5 ml-1.5 mt-0.5" title="Total value of your sales: $158.409.416"></i>
											</div>
											<div class="2xl:flex mt-5 mb-3">
												<div class="flex items-center justify-center sm:justify-start">
													<div class="relative text-2xl 2xl:text-3xl font-medium leading-6 pl-3 2xl:pl-4">
														<span class="absolute text-xl 2xl:text-2xl top-0 left-0 -mt-1 2xl:mt-0">$</span>
														142,402,210
													</div>
													<a class="text-slate-500 ml-4 2xl:ml-16" href="">
														<i data-lucide="refresh-ccw" class="w-4 h-4"></i>
													</a>
												</div>
												<div class="mt-5 2xl:flex 2xl:justify-center 2xl:mt-0 2xl:-ml-20 2xl:w-14 2xl:flex-none 2xl:pl-2.5">
													<div class="font-medium inline-flex bg-success text-white rounded-full px-2 py-1 text-xs 2xl:text-sm 2xl:p-0 2xl:text-success 2xl:bg-transparent 2xl:flex items-center tooltip cursor-pointer 2xl:justify-center" title="49% Higher than last month">
														49%
														<i data-lucide="chevron-up" class="w-4 h-4 ml-0.5"></i>
													</div>
												</div>
											</div>
											<div class="text-slate-500">Last updated 1 hour ago</div>
											<div class="2xl:text-base text-slate-600 dark:text-slate-300 mt-6 -mb-1">
												Total net margin
												<a href="" class="underline decoration-dotted underline-offset-4 text-primary dark:text-slate-400">$12,921,050</a>
											</div>
											<div class="mt-14 2xl:mt-24 dropdown">
												<button class="dropdown-toggle btn btn-rounded-primary w-44 2xl:w-52 px-4 relative justify-start" aria-expanded="false" data-tw-toggle="dropdown">
													Download Reports
													<span class="w-8 h-8 absolute flex justify-center items-center right-0 top-0 bottom-0 my-auto ml-auto mr-1">
														<i data-lucide="chevron-down" class="w-4 h-4"></i>
													</span>
												</button>
												<div class="dropdown-menu w-44 2xl:w-52">
													<ul class="dropdown-content">
														<li>
															<a href="" class="dropdown-item">
																<i data-lucide="file-text" class="w-4 h-4 mr-2"></i>
																Monthly Report
															</a>
														</li>
														<li>
															<a href="" class="dropdown-item">
																<i data-lucide="file-text" class="w-4 h-4 mr-2"></i>
																Annual Report
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="row-start-2 md:row-start-auto col-span-12 md:col-span-4 py-6 border-black border-opacity-10 border-t md:border-t-0 md:border-l md:border-r border-dashed px-10 sm:px-28 md:px-5 -mx-5">
											<div class="flex flex-wrap items-center">
												<div class="flex items-center w-full sm:w-auto justify-center sm:justify-start mr-auto mb-5 2xl:mb-0">
													<div class="w-2 h-2 bg-primary rounded-full -mt-4"></div>
													<div class="ml-3.5">
														<div class="relative text-xl 2xl:text-2xl font-medium leading-6 2xl:leading-5 pl-3.5 2xl:pl-4">
															<span class="absolute text-base 2xl:text-xl top-0 left-0 2xl:-mt-1.5">$</span>
															47,578.77
														</div>
														<div class="text-slate-500 mt-2">Yearly budget</div>
													</div>
												</div>
												<select class="form-select bg-transparent border-black border-opacity-10 dark:border-darkmode-400 dark:bg-transparent mx-auto sm:mx-0 py-1.5 px-3 w-auto -mt-2">
													<option value="daily">Daily</option>
													<option value="weekly">Weekly</option>
													<option value="monthly">Monthly</option>
													<option value="yearly">Yearly</option>
													<option value="custom-date">Custom Date</option>
												</select>
											</div>
											<div class="mt-10 text-slate-600 dark:text-slate-300">You have spent about 35% of your annual budget.</div>
											<div class="mt-6">
												<div class="h-[290px]">
													<canvas id="report-bar-chart-1"></canvas>
												</div>
											</div>
										</div>
										<div class="col-span-12 sm:col-span-6 md:col-span-4 py-6 border-black border-opacity-10 border-t sm:border-t-0 border-l md:border-l-0 border-dashed -ml-4 pl-4 md:ml-0 md:pl-0">
											<ul class=" nav nav-pills w-3/4 2xl:w-4/6 bg-slate-200 dark:bg-black/10 rounded-md mx-auto p-1 " role="tablist">
												<li id="active-users-tab" class="nav-item flex-1" role="presentation">
													<button class="nav-link w-full py-1.5 px-2 active" data-tw-toggle="pill" data-tw-target="#active-users" type="button" role="tab" aria-controls="active-users" aria-selected="true">
														Active
													</button>
												</li>
												<li id="inactive-users-tab" class="nav-item flex-1" role="presentation">
													<button class="nav-link w-full py-1.5 px-2" data-tw-toggle="pill" data-tw-target="#inactive-users" type="button" role="tab" aria-selected="false">
														Inactive
													</button>
												</li>
											</ul>
											<div class="tab-content mt-6">
												<div class="tab-pane active" id="active-users" role="tabpanel" aria-labelledby="active-users-tab">
													<div class="relative mt-8">
														<div class="h-[215px]">
															<canvas id="report-donut-chart-3"></canvas>
														</div>
														<div class="flex flex-col justify-center items-center absolute w-full h-full top-0 left-0">
															<div class="text-xl 2xl:text-2xl font-medium">2.501</div>
															<div class="text-slate-500 mt-0.5">Active Users</div>
														</div>
													</div>
													<div class="mx-auto w-10/12 2xl:w-2/3 mt-8">
														<div class="flex items-center">
															<div class="w-2 h-2 bg-primary rounded-full mr-3"></div>
															<span class="truncate">17 - 30 Years old</span>
															<span class="font-medium ml-auto">62%</span>
														</div>
														<div class="flex items-center mt-4">
															<div class="w-2 h-2 bg-pending rounded-full mr-3"></div>
															<span class="truncate">31 - 50 Years old</span>
															<span class="font-medium ml-auto">33%</span>
														</div>
														<div class="flex items-center mt-4">
															<div class="w-2 h-2 bg-warning rounded-full mr-3"></div>
															<span class="truncate">>= 50 Years old</span>
															<span class="font-medium ml-auto">10%</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						{% endblock %}
					</div>
				</div>
				<!-- END: Content -->
			</div>


			<!-- BEGIN: JS Assets-->
			<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=places"></script>
			<script src="{{asset('assetsAdmin/dist/js/app.js')}}"></script>

			<script>
				// Fonction pour mettre à jour l'heure actuelle
function updateCurrentTime() {
var currentTimeElement = document.getElementById('currentTime');
if (currentTimeElement) { // Obtenir la date actuelle
var currentDate = new Date();

// Formatter l'heure au format HH:MM AM/PM
var hours = currentDate.getHours() % 12 || 12;
var minutes = currentDate.getMinutes();
var ampm = hours >= 12 ? 'PM' : 'AM';

// Mettre à jour le contenu de la balise avec l'heure formatée
currentTimeElement.textContent = hours + ':' + (
minutes < 10 ? '0' : ''
) + minutes + ' ' + ampm;
}
}

// Mettre à jour l'heure initiale
updateCurrentTime();

// Mettre à jour l'heure chaque minute (60 000 millisecondes)
setInterval(updateCurrentTime, 60000);
			</script>

			<!-- END: JS Assets-->
		</body>
	</body>
</html>
