<!DOCTYPE html>
<!--
Template Name: Tinker - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html
	lang="en" class="light">
	<!-- BEGIN: Head -->
	<head>
		<meta charset="utf-8">
		<link href="{{asset('assetsAdmin/dist/images/logo.png')}}" rel="shortcut icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Tinker admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
		<meta name="keywords" content="admin template, Tinker Admin Template, dashboard template, flat admin template, responsive admin template, web app">
		<meta name="author" content="LEFT4CODE">
		<title>Dashboard - XperienceZone</title>
		<!-- BEGIN: CSS Assets-->
		<link
		rel="stylesheet" href="{{asset('assetsAdmin/dist/css/app.css')}}"/>
	<!-- END: CSS Assets-->
	</head>
	<!-- END: Head -->

	<body class="py-5 md:py-0 bg-black/[0.15] dark:bg-transparent">

		<div
			class="flex mt-[4.7rem] md:mt-0 overflow-hidden">
			<!-- BEGIN: Side Menu -->
			<nav class="side-nav">
				<a href="" class="intro-x fflex items-center pl-5 pt-4 mt-3">
					<img alt="Midone - HTML Admin Template" class="w-6" src="{{asset('assetsAdmin/dist/images/logo.png')}}">
					<span class="hidden xl:block text-white text-lg ml-3">
						XperienceZone
					</span>
				</a>
				<div class="side-nav__devider my-6"></div>
				<ul>
					<li>
						<a href="javascript:;.html" class="side-menu side-menu--active">
							<div class="side-menu__icon">
								<i data-lucide="home"></i>
							</div>
							<div class="side-menu__title">
								Dashboard

							</div>
						</a>

					</li>

					<li>
						<a href="side-menu-light-inbox.html" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="inbox"></i>
							</div>
							<div class="side-menu__title">
								Products
							</div>
						</a>
					</li>
					<li>
						<a href="side-menu-light-file-manager.html" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="hard-drive"></i>
							</div>
							<div class="side-menu__title">
								Activities
							</div>
						</a>
					</li>
					<li>
						<a href="side-menu-light-point-of-sale.html" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="credit-card"></i>
							</div>
							<div class="side-menu__title">
								Events
							</div>
						</a>
					</li>
					<li>
						<a href="side-menu-light-chat.html" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="message-square"></i>
							</div>
							<div class="side-menu__title">
								Chat
							</div>
						</a>
					</li>
					<li>
						<a href="side-menu-light-post.html" class="side-menu">
							<div class="side-menu__icon">
								<i data-lucide="file-text"></i>
							</div>
							<div class="side-menu__title">
								Reclamation
							</div>
						</a>
					</li>

					<li class="side-nav__devider my-6"></li>

				</ul>

			</nav>
			<!-- END: Side Menu -->
			<!-- BEGIN: Content -->
			<div
				class="content">
				<!-- BEGIN: Top Bar -->
				<div
					class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
					<!-- BEGIN: Breadcrumb -->
					<nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="#">Application</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
						</ol>
					</nav>
					<!-- END: Breadcrumb -->
					<!-- BEGIN: Notifications -->
					<div class="intro-x dropdown mr-auto sm:mr-6">
						<div class="dropdown-toggle notification notification--bullet cursor-pointer" role="button" aria-expanded="false" data-tw-toggle="dropdown">
							<i data-lucide="bell" class="notification__icon dark:text-slate-500"></i>
						</div>
						<div class="notification-content pt-2 dropdown-menu">
							<div class="notification-content__box dropdown-content">
								<div class="notification-content__title">Notifications</div>
								<div class="cursor-pointer relative flex items-center ">
									<div class="w-12 h-12 flex-none image-fit mr-1">
										<img alt="Midone - HTML Admin Template" class="rounded-full" src="{{asset('assetsAdmin/dist/images/profile-2.jpg')}}">
										<div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
									</div>
									<div class="ml-2 overflow-hidden">
										<div class="flex items-center">
											<a href="javascript:;" class="font-medium truncate mr-5">Keanu Reeves</a>
											<div class="text-xs text-slate-400 ml-auto whitespace-nowrap">05:09 AM</div>
										</div>
										<div class="w-full truncate text-slate-500 mt-0.5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
										</div>
									</div>
								</div>
								<div class="cursor-pointer relative flex items-center mt-5">
									<div class="w-12 h-12 flex-none image-fit mr-1">
										<img alt="Midone - HTML Admin Template" class="rounded-full" src="{{asset('assetsAdmin/dist/images/profile-3.jpg')}}">
										<div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
									</div>
									<div class="ml-2 overflow-hidden">
										<div class="flex items-center">
											<a href="javascript:;" class="font-medium truncate mr-5">Angelina Jolie</a>
											<div class="text-xs text-slate-400 ml-auto whitespace-nowrap">03:20 PM</div>
										</div>
										<div class="w-full truncate text-slate-500 mt-0.5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500</div>
									</div>
								</div>
								<div class="cursor-pointer relative flex items-center mt-5">
									<div class="w-12 h-12 flex-none image-fit mr-1">
										<img alt="Midone - HTML Admin Template" class="rounded-full" src="{{asset('assetsAdmin/dist/images/profile-13.jpg')}}">
										<div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
									</div>
									<div class="ml-2 overflow-hidden">
										<div class="flex items-center">
											<a href="javascript:;" class="font-medium truncate mr-5">Brad Pitt</a>
											<div class="text-xs text-slate-400 ml-auto whitespace-nowrap">01:10 PM</div>
										</div>
										<div class="w-full truncate text-slate-500 mt-0.5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500</div>
									</div>
								</div>
								<div class="cursor-pointer relative flex items-center mt-5">
									<div class="w-12 h-12 flex-none image-fit mr-1">
										<img alt="Midone - HTML Admin Template" class="rounded-full" src="{{asset('assetsAdmin/dist/images/profile-4.jpg"')}}">
										<div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
									</div>
									<div class="ml-2 overflow-hidden">
										<div class="flex items-center">
											<a href="javascript:;" class="font-medium truncate mr-5">John Travolta</a>
											<div class="text-xs text-slate-400 ml-auto whitespace-nowrap">06:05 AM</div>
										</div>
										<div class="w-full truncate text-slate-500 mt-0.5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
										</div>
									</div>
								</div>
								<div class="cursor-pointer relative flex items-center mt-5">
									<div class="w-12 h-12 flex-none image-fit mr-1">
										<img alt="Midone - HTML Admin Template" class="rounded-full" src="{{asset('assetsAdmin/dist/images/profile-15.jpg')}}">
										<div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
									</div>
									<div class="ml-2 overflow-hidden">
										<div class="flex items-center">
											<a href="javascript:;" class="font-medium truncate mr-5">Leonardo DiCaprio</a>
											<div class="text-xs text-slate-400 ml-auto whitespace-nowrap">05:09 AM</div>
										</div>
										<div class="w-full truncate text-slate-500 mt-0.5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END: Notifications -->
					<!-- BEGIN: Account Menu -->
					<div class="intro-x dropdown w-8 h-8">
						<div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in" role="button" aria-expanded="false" data-tw-toggle="dropdown">
							<img alt="Midone - HTML Admin Template" src="{{asset('assetsAdmin/dist/images/profile-5.jpg')}}">
						</div>
						<div class="dropdown-menu w-56">
							<ul class="dropdown-content bg-primary text-white">
								<li class="p-2">
									<div class="font-medium">Keanu Reeves</div>
									<div class="text-xs text-white/70 mt-0.5 dark:text-slate-500">Backend Engineer</div>
								</li>
								<li>
									<hr class="dropdown-divider border-white/[0.08]">
								</li>
								<li>
									<a href="" class="dropdown-item hover:bg-white/5">
										<i data-lucide="user" class="w-4 h-4 mr-2"></i>
										Profile
									</a>
								</li>
								<li>
									<a href="" class="dropdown-item hover:bg-white/5">
										<i data-lucide="edit" class="w-4 h-4 mr-2"></i>
										Add Account
									</a>
								</li>
								<li>
									<a href="" class="dropdown-item hover:bg-white/5">
										<i data-lucide="lock" class="w-4 h-4 mr-2"></i>
										Reset Password
									</a>
								</li>
								<li>
									<a href="" class="dropdown-item hover:bg-white/5">
										<i data-lucide="help-circle" class="w-4 h-4 mr-2"></i>
										Help
									</a>
								</li>
								<li>
									<hr class="dropdown-divider border-white/[0.08]">
								</li>
								<li>
									<a href="" class="dropdown-item hover:bg-white/5">
										<i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i>
										Logout
									</a>
								</li>
							</ul>
						</div>
					</div>

					<!-- END: Account Menu -->
					<!-- END: Top Bar -->
					<div class="relative"> {% block container %}{% endblock %}
						</div>
					</div>
					<!-- END: Content -->
				</div>


				<!-- BEGIN: JS Assets-->
				<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
				<script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=places"></script>
				<script src="{{asset('assetsAdmin/dist/js/app.js')}}"></script>
				<!-- END: JS Assets-->
			</body>
		</body>
	</html>
