<h1>Users</h1>

  <div class="fils" style="padding-left: 300px;">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdUser</th>
                <td>{{ user.idUser }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{% for role in user.roles %}
                {{ role }}
                {%endfor%}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ user.sexe }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ user.etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
<div class ="qrcode">
</div>   
    <a href="{{ path('app_utilisateur_index') }}" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Back to List</a>

                                            <a href="{{ path('app_utilisateur_edit', {'idUser': user.idUser}) }}" class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">Edit</a>    
       
    </div>