{% extends 'utilisateur/base.html.twig' %}

{% block title %}User{% endblock %}

{% block container %}
<div class="fils" style="padding-left: 300px;">
    <h1>User</h1>

    <table class="table" >
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.mail }}</td>
            </tr>
            
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ user.sexe }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ user.etat }}</td>
            </tr>
            
        </tbody>
    </table>
    <br>
<div class ="qrcode">
   <img id="qrCodeImage" src="data:image/png;base64,{{ qrCodeImage }}" alt="QR Code" style="width: 250px;" >
</div>   
    <a href="{{ path('app_utilisateur_index') }}" class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">back to list</a>

        <a href="{{ path('app_utilisateur_edit', {'idUser': user.idUser}) }}" class="btn btn-primary shadow-md mr-2"><i data-lucide="check-square" class="w-4 h-4 mr-1"></i>Edit</a>    

    </div>
     <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
      function downloadTicket() {
        const ticketElement = document.querySelector('.fils');
        html2canvas(ticketElement).then(function (canvas) {
          const imageData = canvas.toDataURL('image/png');
          const downloadLink = document.createElement('a');
          downloadLink.href = imageData;
          downloadLink.download = 'ticket.png';
          downloadLink.click();
        });
      }

      const downloadTicketBtn = document.getElementById('downloadTicketBtn');
      downloadTicketBtn.addEventListener('click', downloadTicket);
    });
  </script>
{% endblock %}