{% extends 'utilisateur/base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block container %}
    <h2 class="text-lg font-medium mr-auto">Utilisateur {{ utilisateur.username }}</h1>
    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>IdUser</th>
                <td>{{ utilisateur.idUser }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ utilisateur.username }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ utilisateur.mail }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{% for role in utilisateur.roles %}
                {{ role }}
                {%endfor%}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ utilisateur.age }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ utilisateur.sexe }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ utilisateur.etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
    
    <div class="flex mt-4 xl:mt-0">
        <a href="{{ path('app_utilisateur_edit', {'idUser': utilisateur.idUser}) }}" class="flex items-center mr-3"><i data-lucide="check-square" class="w-4 h-4 mr-1"></i>Edit</a>    
        {{ include('utilisateur/_delete_form.html.twig') }}
    </div>
    <br>
    <a href="{{ path('app_utilisateur_index') }}" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Back to List</a>
</div>
{% endblock %}
