{% extends 'base.html.twig' %}
{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/stylemini.css') }}">
{% endblock %}

{% block title %}{% endblock %}

{% block container %}
	<h2>Ticket</h2>

	<div class="ticket">
		<div class="ticket-image">
			{% if ticket.evenement %}
				{% if ticket.evenement.image %}
					<img src="{{ asset('uploads/images/' ~ ticket.evenement.image) }}" alt="Event Image">
				{% else %}
					<div class="no-image">No Image Available</div>
				{% endif %}
			{% else %}
				<div class="no-event">No Event Associated</div>
			{% endif %}
		</div>

		<div class="ticket-details">
			<div class="ticket-info">
				<div class="ticket-label">Ticket for:</div>
				<div class="ticket-value">{{ ticket.numTicket }}</div>
			</div>
			<div class="ticket-info">
				<div class="ticket-label">Totale Price:</div>
				<h8>Available on the event day</h8>
			</div>
			<div class="ticket-info">
				<div class="ticket-label">Event name:</div>
				<div class="ticket-value">{{ ticket.evenement.nomEvent }}</div>
			</div>
			<div class="ticket-info">
				<div class="ticket-label">Place:</div>
				<div class="ticket-value">{{ ticket.evenement.lieuEvent }}</div>
			</div>
			<div class="ticket-info">
				<div class="ticket-label">Event Date:</div>
				<div class="ticket-value">{{ ticket.evenement.dateEvent|date('d/m/Y') }}</div>
			</div>
			<div class="ticket-info">
				<div class="ticket-label">Hour:</div>
				<div class="ticket-value">{{ ticket.evenement.heureEvent }}</div>
			</div>
		</div>
	</div>

	<div class="ticket-actions">
		<a href="{{ path('app_evenement_index') }}">Back to List</a>
		<a href="{{ path('app_ticket_edit', {'idTicket': ticket.idTicket}) }}">Edit</a>
	</div>

	{{ include('ticket/_delete_form.html.twig') }}

	<a href="{{ path('app_pdf_generator', {'idTicket': ticket.idTicket}) }}" class="btn btn-info">export PDF</a>

{% endblock %}
