{% extends 'utilisateur/base.html.twig' %}

{% block title %}Traitements{% endblock %}

{% block container %}
    <h1>Traitements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idt</th>
                <td>{{ traitement.idt }}</td>
            </tr>
            <tr>
                <th>Refobj</th>
                <td>{{ traitement.refobj }}</td>
            </tr>
            <tr>
                <th>Dater</th>
                <td>{{ traitement.dater ? traitement.dater|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Typer</th>
                <td>{{ traitement.typer }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ traitement.resume }}</td>
            </tr>
            <tr>
                <th>Stat</th>
                <td>{{ traitement.stat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_traitements_index') }}" class="btn">back to list</a>

    <a href="{{ path('app_traitements_edit', {'idt': traitement.idt}) }}" class="btn">edit</a>

    {{ include('traitements/_delete_form.html.twig') }}
{% endblock %}
