{# inscription/_form.html.twig #}

<div class="inscription-form">
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_label(form.nbrTickes) }}
	{{ form_widget(form.nbrTickes, {'attr': {'class': 'form-control'}}) }}
	{{ form_errors(form.nbrTickes) }}
	<label>prix totale =
		{{prixactivite}}</label>

	<button class="btn">{{ button_label|default('abonner') }}</button>
	{{ form_end(form) }}</div>
