{% extends 'base.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}
    <h1>Inscription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_ins</th>
                <th>DateIns</th>
                <th>HeureIns</th>
                <th>NbrTickes</th>
                <th>FraitAbonnement</th>
                <th>ActiviteId</th>
                <th>UserId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.IdIns }}</td>
                <td>{{ inscription.dateIns ? inscription.dateIns|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ inscription.heureIns ? inscription.heureIns|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ inscription.nbrTickes }}</td>
                <td>{{ inscription.fraitAbonnement }}</td>
                <td>{{ inscription.activiteId }}</td>
                <td>{{ inscription.userId }}</td>
                <td>
                    <a href="{{ path('app_inscription_show', {'Id_ins': inscription.Id_ins}) }}">show</a>
                    <a href="{{ path('app_inscription_edit', {'Id_ins': inscription.Id_ins}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inscription_new') }}">Create new</a>
{% endblock %}
