{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block container %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>ContenuMsg</th>
                <th>HeurEnvoiMsg</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.idMsg }}</td>
                <td>{{ message.contenuMsg }}</td>
                <td>{{ message.heurEnvoiMsg ? message.heurEnvoiMsg|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_message_show', {'idMsg': message.idMsg}) }}">show</a>
                    <a href="{{ path('app_message_edit', {'idMsg': message.idMsg}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_message_new') }}">Create new</a>
{% endblock %}
