{% extends 'base.html.twig' %}

{% block title %}Message
{% endblock %}

{% block container %}
	<h1>Message</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>ContenuMsg</th>
				<td>{{ message.contenuMsg | raw }}</td>
			</tr>
			<tr>
				<th>HeurEnvoiMsg</th>
				<td>{{ message.heurEnvoiMsg ? message.heurEnvoiMsg|date('Y-m-d H:i:s') : ''}}</td>
			</tr>


		</tbody>
	</table>

	<a href="{{ path('app_message_index') }}">back to list</a>

	<a href="{{ path('app_message_edit', {'idMsg': message.idMsg}) }}">edit</a>

	{{ include('message/_delete_form.html.twig') }}


{% endblock %}
{% block explore %}{% endblock %}
