<!doctype html>
<html class="no-js" lang="en">

	<head>


		<!-- meta data -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		{% block title %}
			<title>Directory Landing Page</title>
		{% endblock %}

		<!--font-family-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
		{% block css %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-kpWBOvK74S4ltoRO5ekQ6LI+8IvGd2cEzG0/f6BcPwHpdIjheRo1LJ2RGtHU93jyMaWyg3dbuK3eKrjG9RWdVg==" crossorigin="anonymous"/>

			<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
			<!-- title of site -->


			<!-- For favicon png -->
			<link
			rel="shortcut icon" type="image/icon" href="{{asset('assets/logo/favicon.png')}}"/> <!--font-awesome.min.css-->
			<link
			rel="stylesheet" href="{{asset('assets/css/font-awesome.min.css')}}">

			<!--linear icon css-->
			<link
			rel="stylesheet" href="{{asset('assets/css/linearicons.css')}}">

			<!--animate.css-->
			<link
			rel="stylesheet" href="{{asset('assets/css/animate.css')}}">

			<!--flaticon.css-->
			<link
			rel="stylesheet" href="{{asset('assets/css/flaticon.css')}}">

			<!--slick.css-->
			<link rel="stylesheet" href="{{asset('assets/css/slick.css')}}">
			<link
			rel="stylesheet" href="{{asset('assets/css/slick-theme.css')}}">

			<!--bootstrap.min.css-->
			<link
			rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">

			<!-- bootsnav -->
			<link
			rel="stylesheet" href="{{asset('assets/css/bootsnav.css')}}">

			<!--style.css-->
			<link
			rel="stylesheet" href="{{asset('assets/css/style.css' )}}">

			<!--responsive.css-->
			<link rel="stylesheet" href="{{asset('assets/css/responsive.css')}}">


		{% endblock  %}
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

		<!--[if lt IE 9]>
																																																																																																																																																																																																																																																																																													<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
																																																																																																																																																																																																																																																																																													<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
																																																																																																																																																																																																																																																																																										        <![endif]-->

	</head>

	<body>
		<!--[if lte IE 9]>
																																																																																																																																																																																																																																																																																																															            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
																																																																																																																																																																																																																																																																																																															        <![endif]-->

		<!--header-top start -->

			<header id="header-top" class="header-top"> <ul>
				<li>
					<div class="header-top-right">
						<ul>

							<li class="select-opt"></li>

						</ul>
					</div>
				</li>
				<li class="head-responsive-right pull-right">
					<div class="header-top-right">
						<ul>

							<li class="header-top-contact">
								<a href="{{path('app_ProfileClient', {'idUser': app.user.idUser})}}">Profile
									<i class="bi bi-person-circle"></i>
								</a>
							</li>
							<li class="header-top-contact">
								<a id="Logout" href="{{path('app_logout')}}">Logout
									<i class="bi bi-escape"></i>
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>

		</header>
		<!--/.header-top-->
		<!--header-top end -->

		<!-- top-area Start -->
			<section class="top-area"> <div
				class="header-area">
				<!-- Start Navigation -->
				<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

					<div
						class="container">

						<!-- Start Header Navigation -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>

							<div class="d-flex align-items-center">

								<a class="navbar-brand" href="index.html">Xperience<span>Zone</span>
								</a>

							</div>

						</div>
						<!--/.navbar-header-->
						<!-- End Header Navigation -->

						<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu"> <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">

								<li class="scroll">
									<a href="{{ path('app_activites_index') }}">Activity</a>
								</li>
								<li class="scroll">
									<a href="{{ path('app_evenement_index') }}">Events</a>
								</li>
								<li class="scroll">
									<a href="{{ path('app_produit_index') }}">Products</a>
								</li>
								<li class="scroll">
									<a href="{{ path('app_channel_index') }}">Channel</a>
								</li>
								<li class="scroll">
									<a href="{{ path('app_message_index') }}">message</a>
								</li>

								<li class="scroll">
									<a href="{{ path('app_panier_index') }}">Shop Now</a>
								</li>
								<li class="scroll">
									<a href="{{ path('app_reclamations_new') }}">Reclamation</a>
								</li>
							</ul>
							<!--/.nav -->
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!--/.container-->
				</nav>
				<!--/nav-->
				<!-- End Navigation -->
			</div>
			<!--/.header-area-->
			<div class="clearfix"></div>

		</section>
		<!-- /.top-area-->
		<!-- top-area End -->

		<!--welcome-hero start -->
			{% block anis %}
				{% block container %}
					<section id="home" class="welcome-hero"> <div class="container">


						<div class="welcome-hero-txt">
							<h2>best place to find and explore
								<br>
								that all you need
							</h2>
							<p>
								Find Best Event, Activity and many more in just One click
							</p>
						</div>

						<div class="welcome-hero-serch-box">
							<div class="welcome-hero-form">
								<div class="single-welcome-hero-form">
									<h3>what?</h3>
									<form action="index.html">
										<input type="text" placeholder="Ex: paddle, camping, parachute, skydiving"/>
									</form>
									<div class="welcome-hero-form-icon">
										<i class="flaticon-list-with-dots"></i>
									</div>
								</div>
								<div class="single-welcome-hero-form">
									<h3>location</h3>
									<form action="index.html">
										<input type="text" placeholder="Ex: Bizerte, Sousse, Mahdia, Touzeur"/>
									</form>
									<div class="welcome-hero-form-icon">
										<i class="flaticon-gps-fixed-indicator"></i>
									</div>
								</div>
							</div>
							<div class="welcome-hero-serch">
								<button class="welcome-hero-btn" onclick="window.location.href='#'">
									search
									<i data-feather="search"></i>
								</button>
							</div>
						</div>
					</div>


				</section>
			{% endblock %}
			<!--explore start -->
			<section id="explore" class="explore">

				<div class="container">
					{% block explore %}
						<div class="section-header">
							<h2>explore</h2>
							<p>
								Discover exciting activities, explore vibrant events,  and find unique products</p>
						</div>
					{% endblock %}
					<!--/.section-header-->
					<div class="explore-content">
						{% block card %}
							<div class="row">
								<div class=" col-md-4 col-sm-6">
									<div class="single-explore-item">
										<div class="single-explore-img">
											<img src="{{asset('assets/images/explore/e2.jpg')}}" alt="explore image">
											<div class="single-explore-img-info">
												<button onclick="window.location.href='#'">best rated</button>
												<div class="single-explore-image-icon-box">
													<ul>
														<li>
															<div class="single-explore-image-icon">
																<a>
																	<i class="fa fa-arrows-alt"></i>
																</a>
															</div>
														</li>
														<li>
															<div class="single-explore-image-icon">
																<i class="fa fa-bookmark-o"></i>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="single-explore-txt bg-theme-1">
											<h2>
												<a href="#">Parachute</a>
											</h2>
											<p class="explore-rating-price">
												<span class="explore-rating">5.0</span>
												<a href="#">
													10 ratings</a>
												<span class="explore-price-box">
													Price
													<span class="explore-price">20 DT</span>
												</span>
												<a href="#">XperienceZone</a>
											</p>
											<div class="explore-person">
												<div class="row">

													<div class="col-sm-10">
														<p>
															xperience inoubliable, n'esiter pas d'inscrire et de marquer les plus belles moments de ta vie...
														</p>
													</div>
												</div>
											</div>
											<div class="explore-open-close-part">
												<div class="row">
													<div class="col-sm-5">
														<a>Abonner</a>
													</div>
													<div class="col-sm-7">
														<div class="explore-map-icon">
															<a href="#">
																<i data-feather="map-pin"></i>
															</a>
															<a href="#">
																<i data-feather="upload"></i>
															</a>
															<a href="#">
																<i data-feather="heart"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!--/.container-->
					{% endblock %}
				</section>

				<!--/.explore-->
				<!--explore end -->


				<!--footer start-->
					<footer id="footer" class="footer"> <div class="container">
						<div class="footer-menu">
							<div class="row">
								<div class="col-sm-3">
									<div class="navbar-header">
										<a class="navbar-brand" href="index.html">Xperience<span>zone</span>
										</a>
									</div>
									<!--/.navbar-header-->
								</div>
								<div class="col-sm-9">
									<ul class="footer-menu-item">
										<li class="scroll">
											<a href="#works">how it works</a>
										</li>
										<li class="scroll">
											<a href="#explore">explore</a>
										</li>
										<li class="scroll">
											<a href="#reviews">review</a>
										</li>
										<li class="scroll">
											<a href="#blog">blog</a>
										</li>
										<li class="scroll">
											<a href="#contact">contact</a>
										</li>
										<li class=" scroll">
											<a href="#contact">my account</a>
										</li>
									</ul>
									<!--/.nav -->
								</div>
							</div>
						</div>
						<div class="hm-footer-copyright">
							<div class="row">
								<div class="col-sm-5">
									<p>
										&copy;copyright. designed and developed by
										<a href="https://www.themesine.com/">Holiguns</a>
									</p>
									<a href="https://www.facebook.com/profile.php?id=61553926414737&is_tour_dismissed=true">
										<img src="{{asset('assets/logo/capture.png')}}" alt="Code QR" style="width: 50px; margin-right: 10px;"></a>
								</div>
								<div class="col-sm-7">
									<div class="footer-social">
										<span>
											<i class="fa fa-phone">
												+  (216) 29843730</i>
										</span>
										<a href="https://www.facebook.com/profile.php?id=61553926414737&is_tour_dismissed=true">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="#">
											<i class="fa fa-linkedin"></i>
										</a>
										<a href="#">
											<i class="fa fa-google-plus"></i>
										</a>
									</div>
								</div>
							</div>

						</div>
						<!--/.hm-footer-copyright-->
					</div>
					<!--/.container-->

					<div id="scroll-Top">
						<div class="return-to-top">
							<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
						</div>

					</div>
					<!--/.scroll-Top-->

				</footer>
				<!--/.footer-->
				<!--footer end-->
			{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
			{% block js %}
				<!-- Include all js compiled plugins (below), or include individual files as needed -->


				<script src="{{asset('assets/js/jquery.js')}}" defer></script>


				<!--modernizr.min.js-->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

				<!--bootstrap.min.js-->
				<script src="{{asset('assets/js/bootstrap.min.js')}}"></script>


				<!-- bootsnav js -->
				<script src="{{asset('assets/js/bootsnav.js')}}"></script>

				<!--feather.min.js-->
				<script src="{{asset('assets/js/feather.min.js')}}"></script>

				<!-- counter js -->
				<script src="{{asset('assets/js/jquery.counterup.min.js')}}"></script>
				<script src="{{asset('assets/js/waypoints.min.js')}}"></script>

				<!--slick.min.js-->
				<script src="{{asset('assets/js/slick.min.js')}}"></script>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

				<!--Custom JS-->
				<script src="{{asset('assets/js/custom.js')}}"></script>
			{% endblock %}
		</body>
	</body>
</html>
