


        <meta charset="utf-8">
        <link href="{{asset('assetsAdmin/dist/images/logo.png')}}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Tinker admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, Tinker Admin Template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="LEFT4CODE">
        <title>Dashboard - XperienceZone</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="{{asset('assetsAdmin/dist/css/app.css')}}" />
        <!-- END: CSS Assets-->
    <h1>Reclamations</h1>

    <table class="table">
        <tbody class="py-5 md:py-0 bg-black/[0.15] dark:bg-transparent" >
            <tr>
                <th>Idr</th>
                <td>{{ reclamation.idr }}</td>
            </tr>
            <tr>
                <th>Daterec</th>
                <td>{{ reclamation.daterec ? reclamation.daterec|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Typerec</th>
                <td>{{ reclamation.typerec }}</td>
            </tr>
            <tr>
                <th>Refobject</th>
                <td>{{ reclamation.refobject }}</td>
            </tr>
             <tr>
                <th>Details</th>
                <td>{{ reclamation.details }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_reclamations_index') }}" class="btn">back to list</a>

    <a href="{{ path('app_reclamations_edit', {'idr': reclamation.idr}) }}" class="btn">edit</a>

    {{ include('reclamations/_delete_form.html.twig') }}


