{% extends 'utilisateur/base.html.twig' %}

{% block title %}Reclamations index{% endblock %}

{% block container %}

    <style>

        .tri {
            color:blue;
        }
    </style>
    <h1>Reclamations index</h1>
    <strong>Sort by:</strong>
<a href="{{ path('app_reclamations_index', {'criteria': 'idr'}) }}" class="tri"> ID</a> |
<a href="{{ path('app_reclamations_index', {'criteria': 'daterec'}) }}" class="tri"> Date</a> |
<a href="{{ path('app_reclamations_index', {'criteria': 'typerec'}) }}" class="tri"> Type</a> |
<a href="{{ path('app_reclamations_index', {'criteria': 'refobject'}) }}" class="tri"> Référence</a> |
<a href="{{ path('app_reclamations_index', {'criteria': 'details'}) }}" class="tri"> Détails</a>


    <table class="table">
        <thead>
            <tr>
                <th>Idr</th>
                <th>Daterec</th>
                <th>Typerec</th>
                <th>Refobject</th>
                <th>Details</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idr }}</td>
                <td>{{ reclamation.daterec ? reclamation.daterec|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.typerec }}</td>
                <td>{{ reclamation.refobject }}</td>
                <td>{{ reclamation.details }}</td>
                <td>
                    <a href="{{ path('app_reclamations_show', {'idr': reclamation.idr} ) }}" class="btn">show</a>
                    <a href="{{ path('app_reclamations_edit', {'idr': reclamation.idr}) }}" class="btn">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="intro-y flex flex-wrap sm:flex-row sm:flex-nowrap items-center mt-3">
        <div class="pagination">
            {{ knp_pagination_render(reclamations,'reclamations/custom_pagination.html.twig') }}
        </div>
    </div>
  
    <a href="{{ path('app_traitements_index') }}" class="btn">traitement</a>
    <a href="{{ path('app_reclamations_search') }}" class="btn">Search</a>
    <a href="{{ path('app_reclamations_stat') }}" class="btn">Statistiques </a>
    <a  href="{{ path('excel') }}" class="btn btn-primary m-2" style="display:block ; margin-bottom: 2.5em; background-color: #00A8B3;">Générer Excel  <i aria-hidden="true"></i></a>
{% endblock %}
