{% extends 'utilisateur/base.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
	<h1>Forum for Event</h1>

	<table class="table" id="channelTable">
		<thead>
			<tr>
				<th>Nom Channel</th>
				<th>Evenements</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="channelBody">
			{% for channel in channels %}
				<tr>
					<td>{{ channel.nomCh }}</td>
					<td>{{ channel.evenement.nomEvent }}</td>
					<td>
						<a href="{{ path('app_channels_showback', {'idCh': channel.idCh}) }}">show channel</a>
						<a href="{{ path('app_channel_edit', {'idCh': channel.idCh}) }}">edit channel</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">No records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_channel_new') }}">Create new channel</a>

	<div>
		<label for="search">Search:</label>
		<input type="text" id="search" class="form-control" placeholder="Search by channel name">
	</div>

	<table class="table" id="searchTable">
		<tbody id="searchBody"></tbody>
	</table>
</div>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
document.getElementById("search").addEventListener("keyup", function (e) {
var value = this.value;
console.log(" befor the fetch");
fetch("{{ path('channel_searchx') }}?search=" + value, {method: "GET"}).then(response => response.json()).then(data => {
var searchBody = document.getElementById("searchBody");
searchBody.innerHTML = '';

if (data.length > 0) {
document.getElementById('channelTable').style.display = 'none';
data.forEach(function (obj) {
console.log(obj);
var row = document.createElement("tr");

row.innerHTML = '<td>' + obj.nomCh + '</td> <td>' + obj.evenement.nomEvent + '</td> <td><a href="#" data-id="' + obj.idCh + '" class="show-channel-link">show channel</a> <br><a href="#" data-id="' + obj.idCh + '" class="edit-channel-link">edit channel</a></td>';
searchBody.appendChild(row);
});
document.getElementById('searchTable').style.display = 'block';
} else {
searchBody.innerHTML = '<tr><td colspan="3">No records found</td></tr>';
document.getElementById('searchTable').style.display = 'none';
}
}).catch(error => console.error("Error:", error));
});
document.getElementById("searchBody").addEventListener("click", function (e) {
e.preventDefault();
if (e.target.classList.contains("show-channel-link")) {
var channelId = e.target.getAttribute("data-id");
window.location.href = "{{ path('app_channels_showback', {'idCh': '__channelId__'}) }}".replace('__channelId__', channelId);
} else if (e.target.classList.contains("edit-channel-link")) {
var channelId = e.target.getAttribute("data-id");
window.location.href = "{{ path('app_channel_edit', {'idCh': '__channelId__'}) }}".replace('__channelId__', channelId);
}
});

});
</script>
{{ knp_pagination_render(channels) }}{% endblock %}
