{% extends 'base.html.twig' %}

{% block title %}Channel index{% endblock %}

{% block  container  %}
    <h1>Channel de discussion </h1>

    <table class="table">
        <thead>
            <tr>
               
                <th> Nom Channel </th>
                <th>Evenements </th>
            </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td>{{ channel.idCh }}</td>
                <td>{{ channel.nomCh }}</td>
                
                <td>
                    <a href="{{ path('app_channel_show', {'idCh': channel.idCh}) }}">show channel</a>
                    <a href="{{ path('app_channel_edit', {'idCh': channel.idCh}) }}">edit channel</a>
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_channel_new') }}">Create new channel </a>
{% endblock %}
