{% extends 'base.html.twig' %}

{% block title %}Channel index{% endblock %}

{% block body %}
    <h1>Channel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCh</th>
                <th>NomCh</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td>{{ channel.idCh }}</td>
                <td>{{ channel.nomCh }}</td>
                <td>
                    <a href="{{ path('app_channel_show', {'idCh': channel.idCh}) }}">show</a>
                    <a href="{{ path('app_channel_edit', {'idCh': channel.idCh}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_channel_new') }}">Create new</a>
{% endblock %}
