{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
	<h1>Forum for Event</h1>

	<table class="table" id="channelTable">
		<thead>
			<tr>
				<th>Nom Channel</th>
				<th>Evenements</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="channelBody">
			{% for channel in channels %}
				<tr>
					<td>{{ channel.nomCh }}</td>
					<td>{{ channel.evenement.nomEvent }}</td>
					<td>
						<a href="{{ path('app_channel_show', {'idCh': channel.idCh}) }}">show channel</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">No records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


	<script src="https://cdn.tiny.cloud/1/adgqpc201sqv1tsnpixlr4xanu0tqz8v33s3og9t6is60tgk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({
selector: '.tinymce-editor',
plugins: "preview powerpaste casechange searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample advtable table charmap pagebreak nonbreaking anchor advlist lists checklist wordcount tinymcespellchecker a11ychecker help formatpainter permanentpen pageembed linkchecker emoticons export",
height: '600px',
toolbar_sticky: true,
icons: 'thin',
autosave_restore_when_empty: true,
force_br_newlines: true,
force_p_newlines: false,
content_style: `
                body {
                    background: #fff;
                }

                @media (min-width: 840px) {
                    html {
                        background: #eceef4;
                        min-height: 100%;
                        padding: 0 .5rem
                    }

                    body {
                        background-color: #fff;
                        box-shadow: 0 0 4px rgba(0, 0, 0, .15);
                        box-sizing: border-box;
                        margin: 1rem auto 0;
                        max-width: 820px;
                        min-height: calc(100vh - 1rem);
                        padding:4rem 6rem 6rem 6rem
                    }
                }
            `
});
	</script>
	<div>
		<label for="search">Search:</label>
		<input type="text" id="search" class="form-control" placeholder="Search by channel name">
	</div>

	<table class="table" id="searchTable">
		<tbody id="searchBody"></tbody>
	</table>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {
document.getElementById("search").addEventListener("keyup", function (e) {
var value = this.value;
console.log("before the fetch");
fetch("{{ path('channel_searchx') }}?search=" + value, {method: "GET"}).then(response => response.json()).then(data => {
var searchBody = document.getElementById("searchBody");
searchBody.innerHTML = '';

if (data.length > 0) {
document.getElementById('channelTable').style.display = 'none';
data.forEach(function (obj) {
console.log(obj);
console.log(obj.nomCh);
console.log(obj.idCh + " id");

var row = document.createElement("tr");

row.innerHTML = '<td>' + obj.nomCh + '</td> <td>' + obj.evenement.nomEvent + '</td> <td><a href="#" data-id="' + obj.idCh + '" class="show-channel-link">show channel</a> <br></td>';

searchBody.appendChild(row);

});
document.getElementById('searchTable').style.display = 'block';
} else {
searchBody.innerHTML = '<tr><td colspan="3">No records found</td></tr>';
document.getElementById('searchTable').style.display = 'none';
}

}).catch(error => console.error("Error:", error));
});

document.getElementById("searchBody").addEventListener("click", function (e) {
e.preventDefault();
if (e.target.classList.contains("show-channel-link")) {
var channelId = e.target.getAttribute("data-id");
window.location.href = "{{ path('app_channel_show', {'idCh': '__channelId__'}) }}".replace('__channelId__', channelId);
}
});
});
	</script>
	{{ knp_pagination_render(channels) }}
{% endblock %}
