{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'custom-form'}}) }}

<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			{{ form_row(form.nomAct, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_row(form.organisateur, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_row(form.lieuAct, {'attr': {'class': 'form-control'}}) }}
		</div>


	</div>

	<div class="col-md-4">

		<div class="form-group">
			{{ form_row(form.adresse, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_row(form.placeDispo, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_row(form.prixAct, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_row(form.duree, {'attr': {'class': 'form-control'}}) }}
		</div>


	</div>

	<div class="col-md-4">
		<div class="form-group">
			{{ form_row(form.periode, {'attr': {'class': 'form-control'}}) }}
		</div>


		<br>
		<div class="form-group">
			<h4 style="font-size: 18px;">Choose an image</h4>
			<br>
			{{ form_row(form.images, {'attr': {'class': 'custom-file-input'}}) }}
		</div>
	</div>
</div>
<br>
<button class="btn btn-success btn1 text-white">{{ button_label|default('Save') }}</button>


{{ form_end(form) }}
