{% extends 'utilisateur/base.html.twig' %}

{% block title %}Activity
{% endblock %}
{% block container %}
	{% block css %}
		<link rel="stylesheet" href="{{asset('assets/css/style.css' )}}">
	{% endblock %}
	<h2 class="text-lg font-medium mr-auto">Liste d'activites</h1>
	<br>

	<br>
	<div class="buttoons">
		<a href="{{ path('app_activites_new') }}" class="btnnormale">Create new activity</a>
		<a href="{{ path('stat_activite') }}" class="btnnormale">stat activity</a>
	</div>
	<br>
	<br>
	<div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
		<div class="table-responsive">
			<table class="table table-report -mt-2" style="width: 100%; table-layout: fixed;">
				<thead>
					<tr>
						<th class="whitespace-nowrap" style="width: 5px; ">idAct</th>
						<th class="whitespace-nowrap" style="width: 5px; ">IdUser</th>
						<th class="whitespace-nowrap">NomAct</th>
						<th class="whitespace-nowrap" style="width: 200px; ">Description</th>
						<th class="whitespace-nowrap" style="width: 100px;">Organisateur</th>

						<th class="whitespace-nowrap">LieuAct</th>
						<th class="whitespace-nowrap">Adresse</th>
						<th class="whitespace-nowrap">Images</th>
						<th class="whitespace-nowrap">PlaceDiso</th>
						<th class="whitespace-nowrap">PrixAct</th>
						<th class="whitespace-nowrap" style="width: 15px; ">Duree</th>
						<th class="whitespace-nowrap">Periode</th>

						<th class="whitespace-nowrap">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for activite in activites %}
						<tr class="intro-x">
							<td>{{ activite.idAct }}</td>
							<td>{{ activite.user.getIdUser }}</td>
							<td>{{ activite.nomAct }}</td>
							<td>{{ activite.description }}</td>
							<td>{{ activite.organisateur }}</td>
							<td>{{ activite.lieuAct }}</td>
							<td>{{ activite.adresse }}</td>
							<td>
								{% if activite.images %}
									<img src="{{ asset('uploads/images/' ~ activite.images )}}" alt="activity image" style="max-width: 100px; max-height: 100px;">
								{% else %}
									NO IMAGE AVAILABLE FOR THIS activity
								{% endif %}
							</td>


							<td>{{ activite.placeDispo }}
							</td>
							<td>{{ activite.prixAct }}</td>
							<td>{{ activite.duree }}</td>
							<td>{{ activite.periode }}</td>


							<td>
								<div class="formdelete">
									{{ include('activites/_delete_form.html.twig') }}</div>
								<a href="{{ path('app_activites_edit', {'idAct': activite.idAct}) }}" style="color:red; font-size:12px">Edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="10">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


		<h2 class="text-lg font-medium mr-auto">Liste d'Inscription</h1>
		<br>


		<br>
		<br>
		<div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
			<div class="table-responsive">
				<table class="table table-report -mt-2" style="width: 100%; table-layout: fixed;">
					<thead>
						<tr>

							<th class="whitespace-nowrap">Id_ins</th>
							<th class="whitespace-nowrap">DateIns</th>
							<th class="whitespace-nowrap">HeureIns</th>
							<th class="whitespace-nowrap">NbrTickes</th>
							<th class="whitespace-nowrap">FraitAbonnement</th>
							<th class="whitespace-nowrap">ActiviteId</th>
							<th class="whitespace-nowrap">UserId</th>
							<th class="whitespace-nowrap">actions</th>
						</tr>
					</thead>
					<tbody>
						{% for inscription in inscriptions %}
							<tr>
								<td>{{ inscription.IdIns }}</td>
								<td>{{ inscription.dateIns ? inscription.dateIns|date('Y-m-d') : '' }}</td>
								<td>{{ inscription.heureIns ? inscription.heureIns|date('H:i') : '' }}</td>
								<td>{{ inscription.nbrTickes }}</td>
								<td>{{ inscription.fraitAbonnement }}</td>
								<td>{{ inscription.activite.getIdAct() }}</td>
								<td>{{ inscription.user.idUser }}</td>
								<td>
									<a href="{{ path('app_inscription_show', {'Id_ins': inscription.Idins}) }}">show</a>
									{{ include('inscription/_delete_form.html.twig') }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="8">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		{% endblock %}
