{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block container %}
	{# 
					<a href="{{ path('app_activites_new') }}">Create new</a> #}
	<section id="home" class="welcome-hero">
		<div class="container">

			<div class="welcome-hero-txt">
				<h2>best place to find and explore
					<br>
					that all you need
				</h2>
				<p>
					Find Best Event, Activity and many more in just One click
				</p>

			</div>

			<div class="welcome-hero-serch-box">
				<div class="welcome-hero-form">
					<div class="single-welcome-hero-form">
						<h3>what?</h3>
						<form id="searchForm" action="{{ path('app_activites_name') }}" method="GET">
							<input type="text" name="activityName" list="names" placeholder="Ex: parachute, padle, skydiving"/>
							<datalist id="names">
								{% for activite in activites %}
									<option value={{ activite.nomAct }}></option>
								{% endfor %}
							</datalist>
						</form>
						<div class="welcome-hero-form-icon">
							<i class="flaticon-list-with-dots"></i>
						</div>
					</div>
					<div class="single-welcome-hero-form">
						<h3>location</h3>
						<form id="searchForm2" action="{{ path('app_activites_location') }}" method="GET">
							<input type="text" name="location" list="browser" placeholder="Ex: beja, tunis, sousse"/>
							<datalist id="browser">
								{% for activite in activites %}
									<option value={{ activite.lieuAct }}></option>
								{% endfor %}

							</datalist>
						</form>
						<div class="welcome-hero-form-icon">
							<i class="flaticon-gps-fixed-indicator"></i>
						</div>
					</div>
				</div>
				<div class="welcome-hero-serch">
					<button class="welcome-hero-btn" onclick="submitForm()">
						Search</button>

					<i data-feather="search"></i>

				</div>
			</div>
		</div>


	</section>
	<script>
		function submitForm() {
const form1 = document.getElementById('searchForm');
const form2 = document.getElementById('searchForm2');

if (form1 && form1.activityName.value.trim() !== '') {
form1.submit();
} else if (form2 && form2.location.value.trim() !== '') {
form2.submit();
}

const cardSection = document.getElementById('cardSection');
if (cardSection) {
cardSection.scrollIntoView({behavior: 'smooth'});
}
}
	</script>
{% endblock %}
{% block explore %}

	<div id="cardSection" class="section-header">
		<h2>explore</h2>

		<p>Dive into a World of Discovery: Explore, Experience, and Elevate Your Moments with Our Diverse Range of Activities</p>
		<div class="mb-3">
			<strong>
				<i class="bi bi-funnel-fill"></i>Sort by:</strong>
			<br>
			<a href="{{ path('app_act_tri', {'criteria': 'nomAct'}) }}">name</a>
			<i class="bi bi-tags-fill"></i>
			|
			<a href="{{ path('app_act_tri', {'criteria': 'prixAct'}) }}">price
				<i class="bi bi-currency-euro"></i>
			</a>
		</div>
	</div>

{% endblock %}
{% block card %}

	<div class="row">
		{% for activite in activites %}
			<div class="col-md-4 col-sm-6">
				<div class="single-explore-item">
					<div class="single-explore-img">
						<img
						src="{{ asset('uploads/images/' ~ activite.images) }}" alt="activity image">
						<!-- Other content for activite -->

						<div class="single-explore-img-info">
							<button onclick="window.location.href='#'">best rated</button>
							<div class="single-explore-image-icon-box">
								<ul>
									<li>
										<div class="single-explore-image-icon">
											<a href="{{ path('app_activites_show', {'idAct': activite.idAct}) }}">
												<i class="fa fa-arrows-alt"></i>
											</a>

										</div>
									</li>
									<li>
										<div class="single-explore-image-icon">
											<i class="fa fa-bookmark-o"></i>
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>
					<div class="single-explore-txt bg-theme-1">
						<h2>
							<a href="#">{{ activite.nomAct }}</a>
						</h2>
						<!-- Other content for activite -->
						<p class="explore-rating-price">
							<span class="explore-rating">5.0</span>
							<a href="#">
								{{ activite.lieuAct }}</a>

							<span class="explore-price-box">
								Price
								<span class="explore-price">{{ activite.prixAct }}</span>
							</span>
							<a href="#">{{ activite.organisateur }}</a>
						</p>

						<div class="explore-person">
							<div class="row">
								<div class="col-sm-10">
									<p>
										{% set words = activite.description|split(' ')|slice(0, 10)|join(' ') %}
										{{ words }}
										{% if activite.description|split(' ')|length > 10 %}...
										{% endif %}
									</p>
								</div>
							</div>
						</div>

						<div class="explore-open-close-part">
							<div class="row">
								<div class="col-sm-7">
									<a href="{{ path('app_activites_show', {'idAct': activite.idAct}) }}">

										Reserve a Spot
										<i class="bi bi-calendar-heart"></i>
									</a>

								</div>
								<div class="col-sm-7">
									<div class="explore-map-icon">
										<a href="#">
											<i data-feather="map-pin"></i>
										</a>
										<a href="#">
											<i data-feather="upload"></i>
										</a>
										<a href="#">
											<i data-feather="heart"></i>
										</a>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
